@font-face {
  font-family: "Blacklisted";
  src: local("Blacklisted"),
   url("../fonts/blacklisted/Blacklisted.ttf") format("truetype");
  font-weight: bold;
 }
 
 @font-face {
  font-family: "ocr-aregular";
  src: local("ocr-aregular"),
   url("../fonts/ocr-a/ocr-aregular.ttf") format("truetype");
 }